.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.nav {
  padding: 4px 16px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.contentItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item a {
  text-decoration: none;
  color: var(--ion-color-primary);
  font-size: 16px;
  padding: 8px 16px;
  position: relative;
}

.item:hover a {
  color: var(--ion-color-primary);
}

.item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ion-color-primary);
  visibility: hidden;
  -webkit-transform: scaleX(0);
      transform: scaleX(0);
     -webkit-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
}

.item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active {
  font-weight: 700;
}

.menuItem {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content {
    display: none;
  }
}
