.menu {
    display: flex;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.menuItem {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
}