.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  display: flex;
  border-radius: 16px;
  border: 2px #414d62 solid;
}

.left {
  width: 40%;
  background-image: url(/JAWA\ biru..jpg);
  background-position: center;
  background-size: cover;
  border-radius: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.left p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  /* shadow */
  text-shadow: 2px 2px #2d2f32;
}

.left h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  /* shadow */
  text-shadow: 2px 2px #2d2f32;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 16px 16px 0;
  justify-content: center;
  padding: 24px;
  /* border: 3px #3880ff solid; */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 36px;
  font-weight: 600;
  color: #3880ff;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: white;
  padding: 4px 16px;
  border-radius: 8px;
  border: 1px #3880ff solid;
}

.itemIcon {
  font-size: x-large;
}

.keepLogin {
  display: flex;
  width: 100%;
  padding: 4px;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.keepLogin{
  gap: 240px;
  font-size: medium;
}