.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 24px;
}

.title {
  text-align: center;
}

.responsive {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.card{
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}
.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

@media only screen and (max-width: 801px) {
  .container {
    padding: 64px;
  }
  .card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 24px;
  }

  .card {
    flex-direction: column;
  }
}


